VITE_API_BASE_URL=http://localhost:5000
VITE_MAPS_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
VITE_APP_NAME=Jal Rakshak
VITE_SUPPORTED_LANGUAGES=en,hi,or
VITE_DEFAULT_LANGUAGE=en
VITE_CHATBOT_URL=https://jadlrakshak-ai-adviser.vercel.app
